.navbar.scrolled {
  background: #12bee0;
  color: hotpink;
}

body{
  font-family: 'Merriweather', serif;
  color: rgb(170, 170, 170);
}

.img-thumbnail {
  max-height: 325px;
}

.style {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.img-fluid {
  max-height: 250px;
  max-width: 250px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}

#line{
  max-height: 140px;
}

#line0{
  max-height: 100px;
}

#pic{
  max-height: 150px;
}